/* 首页（豆瓣页） */
/* 头部导航栏 */
*{margin: 0;padding: 0;text-decoration: none}
#header{
    background-color: black;
    height: 28px;
    width: 100%;
}
#header .left{
    height: 28px;
    float:left;
}
#header .left a{
    display: inline-block;
    font-size: 12px;
    color:#ccc;
    height: 28px;
    line-height: 28px;
    width: 48px;
    text-align: center;
}
#header .right{
    height: 28px;
    float:right;
}
#header .right a{
    display: inline-block;
    font-size: 12px;
    color:#ccc;
    height: 28px;
    line-height: 28px;
    padding:0 10px;
    text-align: center;
}