* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* logo 栏样式 */
#logo {
  width: 100%;
  height: 74px;
  background-color: #edf4ed;
  margin-bottom: 20px;
}
.logo {
  width: 1040px;
  height: 74px;
  margin: 0 auto;
}
.left {
  float: left;
  height: 74px;
}
#logo .left a {
  display: inline-block;
  height: 74px;
  line-height: 74px;
  font-size: 14px;
  color: #072;
  text-align: center;
  padding: 0 10px;
  vertical-align: top;
}
#logo .left a img {
  display: inline-block;
  height: 100%;
  width: 164px;
  vertical-align: top;
}

/* 内容栏样式 */

#neirong {
  width: 100%;
  margin-top: 40px;
}
.neirong {
  width: 1040px;
  margin: 0 auto;
}
.neirong_left {
  width: 675px;
  float: left;
}

.top {
  width: 100%;
  /* height: 62px; */
  margin-bottom: 25px;
}
#neirong .neirong .neirong_left .top span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  float: left;
  cursor: pointer;
}

.neirong_right {
  width: 300px;
  float: right;
}
.listLi {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}
/* 点击说话输入框样式 */
.search_speak {
  width: 100%;
  /* height: 155px; */
}
.search_speak_bottom {
  height: 40px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-top: none;
}
.aa {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.fabu_btn {
  height: 30px;
  width: 45px;
  line-height: 30px;
  color: #ccc;
  border: 1px solid #ccc;
  margin: 5px 10px;
  float: right;
  background-color: #f4f4f4;
  border-radius: 4px;
}

/* 留言样式 */
.li_selfImg {
  display: inline-block;
  display: table;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  margin-bottom: 128px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  float: left;
}
.li_user {
  display: block;
  height: 22px;
  line-height: 22px;
  color: #ccc;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 15px;
}
.li_speak {
  line-height: 22px;
  color: black;
  font-size: 12px;
  word-break: break-all;
  margin: 10px 0 13px 0;
  padding-left: 70px;
}
.li_bottom {
  height: 22px;
  padding-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.li_time {
  color: #ccc;
  margin-right: 10px;
}
.li_bottom a {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  margin-right: 10px;
}
.listLiImg {
  display: inline-block;
  width: 370px;
}
.li_listImg {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(223, 221, 221);
}

/* 热门精选栏样式 */
.content_bg {
  background-color: #f9f9f9;
  margin-left: 70px;
  padding: 16px 20px;
  margin-top: 15px;
}
.li_title {
  display: block;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 5px;
}
.li_content {
  display: inline-block;
  width: 416px;
  height: 63px;
  font-size: 10px;
  margin-right: 0;
}
.li_contentImg {
  display: inline-block;
  width: 122px;
  /* height: 60px; */
  float: right;
}
.li_headerImg {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  margin-bottom: 5px;
  float: left;
}
.from {
  display: block;
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.li_content_bottom {
  height: 22px;
  padding-left: 70px;
  margin-top: 15px;
  margin-bottom: 20px;
}
